@define-color background rgba(29, 29, 41, 0.75);
@define-color foreground #FFFFFF;

* {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-family: 'Iosevka Nerd Font';
  font-weight: 400;
  font-size: 14px;
  color: @foreground;
}

window#waybar {
  background: transparent;
}

window#waybar > box {
  margin: 3px;
  margin-bottom: 0;
  padding: 3px;
  background: @background;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.35);
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0;
  padding: 0 10px;
}

#custom-network_speed,
#cpu,
#memory,
#pulseaudio,
#language {
  opacity: 0.95;
  padding-right: 6px;
}

#custom-network_speed {
    font-size: 90%;
}

#custom-cpu_label,
#custom-memory_label,
#custom-pulseaudio_label {
  font-size: 85%;
}

#memory,
#pulseaudio {
  opacity: 0.95;
}

#workspaces button {
  padding: 0 5px;
  opacity: 0.50;
  background: transparent;
  transition: opacity 250ms ease;
}

#workspaces button.active {
  opacity: 1.00;
}

#workspaces button:not(.active):hover {
  opacity: 0.75;
}

